global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend minecraft
    bind *:25565
    default_backend forge

backend forge
    server forge forge:25565 send-proxy-v2
